<a href="https://colab.research.google.com/github/149segolte/TeachNook/blob/main/Intro%20to%20Python/Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python has 4 built-in collection data structures:

## List
They are ordered and mutable collection of data.

Operations:
- Accessing
- Modifying
- Adding
- Removing

In [1]:
mylist1 = [20, 5, 10, 15] # Homogenous
mylist2 = [20, 'String', (2, 3), 15.08] # Hetrogenous

mylist3 = [] # Empty

Accessing elements of a list:

In [2]:
print(mylist1[0]) # Positive indexing
print(mylist1[-1]) # Negative indexing

20
15

Modifying elements of a list:

In [3]:
mylist1[2] = 25
print(mylist1)

[20, 5, 25, 15]

Adding elements to a list:

In [4]:
mylist1.append(30) # using append(value) : adds 'value' to the end
print(mylist1)
mylist1.insert(2, 'data') # using insert(position, value) : adds 'value' to the 'position'
print(mylist1)

[20, 5, 25, 15, 30]
[20, 5, 'data', 25, 15, 30]

Removing elements from a list:

In [5]:
mylist1.remove('data') # removes first match of 'data' from list
print(mylist1)
mylist1.clear() # removes all elements in the list
print(mylist1)

[20, 5, 25, 15, 30]
[]

## Tuple
They are ordered and im-mutable collection of data.

Operations:
- Accessing
- Joining

In [6]:
tup1 = (20, 5, 10, 15) # Homogenous
tup2 = (20, 'String', (2, 3), 15.08) # Hetrogenous

tup3 = () # Empty

Accessing the elements of a tuple:

In [7]:
print(tup1[2]) # Positive indexing
print(tup1[-2]) # Negative indexing

a, b, c, d = tup1 # Unpacking in other variables
print(a, b, c, d)

10
10
20 5 10 15

Joining two or more tuples:

In [8]:
print(tup1, tup2) # Print seperate tuples
print(tup1 + tup2) # Joining the tuples

(20, 5, 10, 15) (20, 'String', (2, 3), 15.08)
(20, 5, 10, 15, 20, 'String', (2, 3), 15.08)

## Dictionary
They are unordered key:value pairs without indexing.

Operations:
- Accessing
- Modifying
- Adding
- Removing

In [9]:
mydict1 = {'w':20, 'x':5, 'y':10, 'z':15} # Fixed data types of keys and values
mydict2 = {'w':20, 5:['x', 'y'], (2, 3):10.34, 3.14:'pi'} # Different data types for keys and values

mydict3 = {} # Empty

Accessing elements of a dictionary:

In [10]:
print(mydict1['x'])

5

Modifying elements in a dictionary:

In [11]:
mydict1['w'] = 'test'
print(mydict1)

{'w': 'test', 'x': 5, 'y': 10, 'z': 15}

Adding elements to a dictionary:

In [12]:
mydict1['key'] = 'value'
print(mydict1)

{'w': 'test', 'x': 5, 'y': 10, 'z': 15, 'key': 'value'}

Removing elements from a dictionary:

In [13]:
mydict1.pop('w') # Removes the pair with key 'w'
print(mydict1)
mydict1.clear() # Removes all elements in the dictionary
print(mydict1)

{'x': 5, 'y': 10, 'z': 15, 'key': 'value'}
{}

## Set
They are unordered, mutable, and iterable data type with no duplicate elements.

In [14]:
myset = {20, 5, 10, 15}